body{
    color: #f6f5f5 ;
    text-align: center !important;
    
}

/* HEADER */

.header{
    background-image: linear-gradient(to right, #1a1a2e , #0f3460);
    /* background-image: url('./header-background.jpg'); */
    /* height: 500px; */
    max-width: inherit;
    background-size: contain;
}

/* NAVBAR */

.title {
    font-family: 'Itim', cursive;
   
    /* font-family: 'Roboto', sans-serif; */
}
.nav-item-color{
    color: aliceblue !important;
}
.navbar-brand{
  color: rgb(255, 255, 255) !important;
}

/* CURRENCY CONVERTER BOX */

.currency-converter  {
    background-color: #393e46 !important;
}

.card-body {
  background-color: #393e46 !important;
  color: #ffff;
}

.card{
  background-color: #393e46 !important;
  color: #ffff !important;
}
.card-title{
  background-color: #393e46 !important;
}
/* CURRENCY CONVERTER RESULT BOX */
.result-box .card{
    text-align: center;
    margin-top: 0rem;
    background-color: #393e46 !important;    
    color: #ffff !important;
}
.ag-theme-alpine-dark{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 400;
    width: 600;
}

/* FOOTER */
.footer{
    background-image: linear-gradient(to right, #1a1a2e , #0f3460); 
    text-align: center;
   padding-left: 100px;
    color: #f6f5f5 ;
  

}

.title{
  margin-top: 10px !important;
  
}

.list a{
  color: #f6f5f5 ;
  text-align: center;
}
 .end{
   padding-top: 20px !important;
   margin-top: 30px !important;
   text-align: center;
 }
 .icons{
   height: 30px;
   width: 30px;
   margin: 10px;
 }
 .social{
   padding: 0;
   
 }

 .insta{
  height: 50px;
  width: 40px;
  margin: 10px;
  margin-top: 20px;
 }
/* Error Page */

.error-container{
  margin: auto;
  padding: 5%;
  text-align: center;
}
.error {
  font-family: 'Itim', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255), 3px 3px 5px rgb(73, 71, 71);
}

.error-msg{
  font-family: 'Itim', cursive;
  font-size: 30px;
  color: #0f3460;
  margin-top: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255), 3px 3px 5px rgb(73, 71, 71);
}

.error-txt{
  font-family: 'Itim', cursive;
  font-size: 20px;
  color: #3e5372;
  margin-top: 20px;
}

.bg {
  height: 600px;
  background-image: linear-gradient(to right, #1a1a2e , #0f3460);
}

/* Home Page */

.intro{
  font-family: 'Itim', cursive;
  font-size: 30px;
  color : #ffffff;

}
.bg-banner{
  margin-top: 50px;
  height: 300px;
  background-image: linear-gradient(to right, #1a1a2e , #0f3460);
}
.heading{
  font-family: 'Itim', cursive;
  font-weight: bold;
  color: #0c2668 !important;
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 3px rgb(255, 255, 255), 3px 3px 5px rgb(73, 71, 71);
}

.carousel{
  height: 450px;
}

.d-block{
  margin-top: 40px;
}

.carousel-msg{
  margin-top: 90px;
}

.para{
  font-weight: bold;
  color: #3e5372;
  margin-top: 20px;
}

h5{
  padding: 0;
  margin: 0;
}

/*Model-table*/
.model-heading{
  text-shadow: 2px 2px 3px rgb(78, 76, 76), 3px 3px 5px rgb(24, 24, 24);
  color: #8b99c9 !important;
  background-image: linear-gradient(to right, #1a1a2e , #0f3460); 
  font-weight: bold !important;

  
}

.model-table{
  background-image: linear-gradient(to right, #575777 , #2972cc); 
  color: #ffffff !important;
}

.button{
  background-color:  #133f75 !important;
  color: #ffffff !important;
  height: 45px;
  width: 100px !important;
  margin-top: 10px !important;
  border: #ffffff !important;
}
.fade-scale {
  
}



/* .view-more :hover{
  background-color:  #133f75 !important;
  
} */