body{
    color: #f6f5f5 !important;
    text-align: center;
}

/* HEADER */

.header{
    background-image: linear-gradient(to right, #1a1a2e , #0f3460);
    /* background-image: url('./header-background.jpg'); */
    /* height: 500px; */
    max-width: inherit;
    background-size: contain;
}

/* NAVBAR */

.title {
    font-family: 'Itim', cursive;
    /* font-family: 'Roboto', sans-serif; */
}
.nav-item-color{
    color: aliceblue !important;
}

/* CURRENCY CONVERTER BOX */

.currency-converter {
    background-color: #393e46 !important;
}


/* CURRENCY CONVERTER RESULT BOX */
.convert-result-box{
    text-align: center;
    background-color: #f6f5f5 !important; 
    color: #393e46;   
    font-size: medium;
    text-shadow: #1a1a2e !important;
}
.result-box{
    text-align: center;
    background-color: #393e46 !important; 
    color: #f6f5f5;   
    font-size: medium;
    text-shadow: #1a1a2e !important;
}
.ag-theme-alpine-dark{
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100%;
    width:100%;    
    background-color: #f6f5f5 !important;;
}

/* RESULT AREA */
.compare{
    background-color: #E5E5E5;
    
}
.header-line{
    background-color: #393e46 !important;
    text-align: center;
    padding: 2%;
    margin: 2%;
    font-size: medium;
    border-radius: 5%;
}


/* FOOTER */
.footer{
    background-color: #393e46 !important;
    text-align: center;
    padding:2% 0 3% ;
    margin:auto ;
}